Repository matschik/component-party.dev: changes, and which lefthook commands are due for each by the changed paths.
All: format, update-readme-progress

format:
  run: pnpm _format --write {staged_files}
  stage_fixed: true

update-readme-progress:
  run: node scripts/generateReadMeProgress.ts && git add README.md
  fail_text: Failed to update README progress

fix e2e tests
  e2e/home.test.ts
  playwright.config.ts
  src/Index.svelte
  test/e2e/config/test-config.ts
  test/e2e/framework-comparison.test.ts
  test/e2e/home.test.ts
  test/e2e/integration.test.ts
  test/e2e/utils/test-helpers.ts
Due: format

improve html semantics
  src/Index.svelte
  src/lib/createLocaleStorage.ts
  test/e2e/home.test.ts
Due: format

improve SEO, sidebar width, CI
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .vscode/extensions.json
  index.html
  package.json
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
  scripts/generateSitemap.ts
  src/Index.svelte
  src/components/Aside.svelte
  src/components/GithubStarButton.svelte
  vite.config.ts
Due: format

change github star fetching to shields API
  src/components/GithubStarButton.svelte
Due: format

fix snippet buttons
  src/components/CodeEditor.svelte
Due: format

misc
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/setup-node-pnpm.yml
  package.json
  public/manifest.json
  scripts/checkContentChanges.ts
  test/e2e/framework-comparison.test.ts
  test/e2e/home.test.ts
  vite.config.ts
Due: format

ci: add pnpm check:ci
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: none

add cloudflare pages redirects for "compare" urls
  .gitignore
  build/lib/generateContent.ts
Due: format

remove dynamic redirects
  build/lib/generateContent.ts
Due: format

add analytics
  index.html
Due: format

refactor(ripple): use new switch-case syntax in example 2-6
  content/2-templating/6-conditional/ripple/TrafficLight.ripple
Due: update-readme-progress

ember polaris - fetch data example
  content/7-webapp-features/2-fetch-data/emberPolaris/fetch-data.gjs
Due: update-readme-progress

PR feedback
  content/7-webapp-features/2-fetch-data/emberPolaris/fetch-data.gjs
Due: update-readme-progress

renamed gjs
  content/7-webapp-features/2-fetch-data/emberPolaris/App.gjs
Due: update-readme-progress

ember polaris - render app
  content/7-webapp-features/1-render-app/emberPolaris/App.gjs
  content/7-webapp-features/1-render-app/emberPolaris/Index.js
  content/7-webapp-features/1-render-app/emberPolaris/index.html
Due: format, update-readme-progress

readme - updated order and framework progress
  README.md
Due: format

feat: add Ember Polaris examples (#304)
  README.md
  content/7-webapp-features/1-render-app/emberPolaris/App.gjs
  content/7-webapp-features/1-render-app/emberPolaris/Index.js
  content/7-webapp-features/1-render-app/emberPolaris/index.html
  content/7-webapp-features/2-fetch-data/emberPolaris/App.gjs
Due: format, update-readme-progress

framework list order - added to compare suggestions
  frameworks.ts
  vite.config.ts
Due: format

Added Blazor :O
  README.md
  build/lib/highlighter.ts
  content/1-reactivity/1-declare-state/blazor/Name.razor
  content/1-reactivity/2-update-state/blazor/Name.razor
  content/1-reactivity/3-computed-state/blazor/DoubleCount.razor
  content/2-templating/1-minimal-template/blazor/HelloWorld.razor
  content/2-templating/2-styling/blazor/CssStyle.razor
  content/2-templating/3-loop/blazor/Colors.razor
  content/2-templating/4-event-click/blazor/Counter.razor
  content/2-templating/5-dom-ref/blazor/InputFocused.razor
  content/2-templating/6-conditional/blazor/TrafficLight.razor
  content/3-lifecycle/1-on-mount/blazor/PageTitle.razor
  content/3-lifecycle/2-on-unmount/blazor/Time.razor
  content/4-component-composition/1-props/blazor/App.razor
  content/4-component-composition/1-props/blazor/UserProfile.razor
  content/4-component-composition/2-emit-to-parent/blazor/AnswerButton.razor
  content/4-component-composition/2-emit-to-parent/blazor/App.razor
  content/4-component-composition/3-slot/blazor/App.razor
  content/4-component-composition/3-slot/blazor/FunnyButton.razor
  content/4-component-composition/4-slot-fallback/blazor/App.razor
  content/4-component-composition/4-slot-fallback/blazor/FunnyButton.razor
  content/4-component-composition/5-context/blazor/App.razor
  content/4-component-composition/5-context/blazor/UserProfile.razor
  content/6-form-input/1-input-text/blazor/InputHello.razor
  content/6-form-input/2-checkbox/blazor/IsAvailable.razor
  content/6-form-input/3-radio/blazor/PickPill.razor
  content/6-form-input/4-select/blazor/ColorSelect.razor
  frameworks.ts
  public/framework/blazor.svg
  public/sitemap.xml
Due: format, update-readme-progress

Kinda broke readme
  README.md
Due: format

Ember version re-order and added compare suggestion (#305)
  frameworks.ts
  vite.config.ts
Due: format

chore: update dependencies and fix CodeEditor reactivity
  index.html
  package.json
  pnpm-lock.yaml
  public/sitemap.xml
  src/components/CodeEditor.svelte
Due: format

Update favoriteColors to use Array syntax
  content/4-component-composition/1-props/emberPolaris/app.gjs
Due: update-readme-progress

Simplify arrow function syntax for handlers
  content/4-component-composition/2-emit-to-parent/emberPolaris/app.gjs
Due: update-readme-progress

Remove whitespace in FunnyButton template
  content/4-component-composition/3-slot/emberPolaris/app.gjs
Due: update-readme-progress

Delete content/6-form-input/2-checkbox/emberPolaris/is-available.hbs
  content/6-form-input/2-checkbox/emberPolaris/is-available.hbs
Due: update-readme-progress

chore: upgrade all dependencies to latest and fix breaking changes
  build/lib/angularHighlighter.ts
  package.json
  pnpm-lock.yaml
  public/sitemap.xml
  src/Index.svelte
  src/components/Aside.svelte
  src/components/CodeEditor.svelte
  src/components/FrameworkLabel.svelte
  src/components/TransitionWithClass.svelte
  vite.config.ts
Due: format

Delete content/6-form-input/2-checkbox/emberPolaris/is-available.hbs (#311)
  content/6-form-input/2-checkbox/emberPolaris/is-available.hbs
Due: update-readme-progress

Remove whitespace in FunnyButton template (#310)
  content/4-component-composition/3-slot/emberPolaris/app.gjs
Due: update-readme-progress

Simplify arrow function syntax for handlers (#309)
  content/4-component-composition/2-emit-to-parent/emberPolaris/app.gjs
Due: update-readme-progress

Update Ripple examples and add Ripple playground links
  build/lib/playgroundUrlByFramework.ts
  content/1-reactivity/1-declare-state/ripple/Name.ripple
  content/1-reactivity/2-update-state/ripple/Name.ripple
  content/1-reactivity/3-computed-state/ripple/DoubleCount.ripple
  content/2-templating/4-event-click/ripple/Counter.ripple
  content/2-templating/6-conditional/ripple/TrafficLight.ripple
  content/3-lifecycle/1-on-mount/ripple/PageTitle.ripple
  content/3-lifecycle/2-on-unmount/ripple/Time.ripple
  content/4-component-composition/2-emit-to-parent/ripple/App.ripple
  content/6-form-input/1-input-text/ripple/InputHello.ripple
  content/6-form-input/2-checkbox/ripple/IsAvailable.ripple
  content/6-form-input/3-radio/ripple/PickPill.ripple
  content/6-form-input/4-select/ripple/ColorSelect.ripple
  frameworks.ts
Due: format, update-readme-progress

Add missing Ripple examples
  README.md
  content/4-component-composition/5-context/ripple/App.ripple
  content/4-component-composition/5-context/ripple/UserContext.ripple
  content/4-component-composition/5-context/ripple/UserProfile.ripple
  content/7-webapp-features/2-fetch-data/ripple/App.ripple
  content/7-webapp-features/2-fetch-data/ripple/useFetchUsers.ripple
Due: format, update-readme-progress

svelte has onMount() hook
  content/3-lifecycle/1-on-mount/svelte5/PageTitle.svelte
Due: format, update-readme-progress

Use onDestroy for component unmount
  content/3-lifecycle/2-on-unmount/svelte5/Time.svelte
Due: format, update-readme-progress

chore: correct file path of contribution guide in README.md
  README.md
Due: format

chore: correct file path of contribution guide in README.md (#314)
  README.md
Due: format

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

ember 7 has new keywords
  content/2-templating/4-event-click/emberPolaris/counter.gjs
Due: update-readme-progress

Do the others
  content/2-templating/6-conditional/emberPolaris/traffic-light.gjs
  content/4-component-composition/2-emit-to-parent/emberPolaris/answer-button.gjs
  content/4-component-composition/5-context/emberPolaris/user-profile.gjs
  content/6-form-input/1-input-text/emberPolaris/input-hello.gjs
  content/6-form-input/2-checkbox/emberPolaris/is-available.gjs
  content/6-form-input/3-radio/emberPolaris/pick-pill.gjs
  content/6-form-input/4-select/emberPolaris/color-select.gjs
Due: update-readme-progress

Path conditions:
  format: any of: *.{js,ts,svelte,html,md,css}
  update-readme-progress: any of: content/**/*
