Repository matschik/component-party.dev: changes, and which lefthook commands are due for each by the changed paths.
All: format, update-readme-progress

lefthook.yml:

pre-commit:
  commands:
    format:
      run: pnpm _format --write {staged_files}
      glob: "*.{js,ts,svelte,html,md,css}"
      stage_fixed: true
    update-readme-progress:
      run: node scripts/generateReadMeProgress.ts && git add README.md
      glob: "content/**/*"
      fail_text: "Failed to update README progress"

Ember 7 has new keywords, no more imports (#315)
  content/2-templating/4-event-click/emberPolaris/counter.gjs
  content/2-templating/6-conditional/emberPolaris/traffic-light.gjs
  content/4-component-composition/2-emit-to-parent/emberPolaris/answer-button.gjs
  content/4-component-composition/5-context/emberPolaris/user-profile.gjs
  content/6-form-input/1-input-text/emberPolaris/input-hello.gjs
  content/6-form-input/2-checkbox/emberPolaris/is-available.gjs
  content/6-form-input/3-radio/emberPolaris/pick-pill.gjs
  content/6-form-input/4-select/emberPolaris/color-select.gjs
Due: update-readme-progress

chore: upgrade dependencies
  .github/workflows/renovate.yml
  package.json
  pnpm-lock.yaml
  renovate.json
Due: none

feat(alpine): add context Alpine.store() example
  README.md
  content/4-component-composition/5-context/alpine/index.html
Due: format, update-readme-progress

fix github star button on shield error
  src/components/GithubStarButton.svelte
Due: format

upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

[Angular Renaissance] Switch to HttpResource for Fetch Data
  content/7-webapp-features/2-fetch-data/angularRenaissance/user.service.ts
  content/7-webapp-features/2-fetch-data/angularRenaissance/users.component.ts
Due: format, update-readme-progress

[Angular Renaissance] Switch to HttpResource for Fetch Data (#317)
  content/7-webapp-features/2-fetch-data/angularRenaissance/user.service.ts
  content/7-webapp-features/2-fetch-data/angularRenaissance/users.component.ts
Due: format, update-readme-progress

Update support for Angular component highlighting
  build/lib/angularHighlighter.ts
  build/lib/highlighter.ts
Due: format

Remove the fileExt for angularHighligher as it's not used
  build/lib/angularHighlighter.d.ts
  build/lib/angularHighlighter.ts
  build/lib/generateContent.ts
Due: format

Remove most of angular highlighter as it's not needed
  build/lib/angularHighlighter.d.ts
  build/lib/angularHighlighter.ts
  build/lib/generateContent.ts
Due: format

Update support for Angular component highlighting (#319)
  build/lib/angularHighlighter.d.ts
  build/lib/angularHighlighter.ts
  build/lib/generateContent.ts
  build/lib/highlighter.ts
Due: format

Migrate toolchain to Vite+
  .oxlintrc.json
  .prettierrc
  .vite-hooks/pre-commit
  build/generateContentVitePlugin.ts
  eslint.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  public/sitemap.xml
  renovate.json
  src/lib/frameworkUrl.test.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: format

style: reformat with prettier (wider printWidth)
  .vscode/extensions.json
  build/generateContentVitePlugin.ts
  build/lib/angularHighlighter.ts
  build/lib/componentPartyShikiTheme.ts
  build/lib/generateContent.ts
  build/lib/highlighter.d.ts
  build/lib/highlighter.ts
  build/lib/playgroundUrlByFramework.ts
  build/template/footer.html
  frameworks.ts
  index.html
  package.json
  scripts/generateReadMeProgress.ts
  scripts/generateSitemap.ts
  scripts/npmDownloadStats.ts
  src/Index.svelte
  src/components/Aside.svelte
  src/components/CodeEditor.svelte
  src/components/FrameworkLabel.svelte
  src/components/GithubStarButton.svelte
  src/components/TransitionWithClass.svelte
  src/lib/copyToClipboard.ts
  src/lib/createLocaleStorage.ts
  src/lib/frameworkUrl.test.ts
  test/e2e/framework-comparison.test.ts
  test/e2e/home.test.ts
  test/e2e/integration.test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: format

chore: add .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

docs: document .git-blame-ignore-revs setup in README
  README.md
Due: format

fix(deps): pin yaml >=2.8.3 to patch stack-overflow advisory (GHSA-48c2-rrv3-qjmp)
  package.json
  pnpm-lock.yaml
Due: none

fix(app): copy code via Clipboard API, stop corrupting snippets with chevrons
  src/components/CodeEditor.svelte
  src/lib/copyToClipboard.ts
Due: format

fix(a11y): toggle state, valid markup, focus-visible actions + tsx highlight
  build/lib/highlighter.ts
  src/Index.svelte
  src/components/CodeEditor.svelte
Due: format

fix(build): initialize byFrameworkId bucket before early-return push
  build/lib/generateContent.ts
Due: format

fix(seo): use FRAMEWORK_SEPARATOR (-) in sitemap URLs instead of comma
  public/sitemap.xml
  scripts/generateSitemap.ts
Due: format

chore(deps): pin Vite+ build toolchain to exact 0.2.1
  package.json
  pnpm-lock.yaml
Due: none

test: run unit tests in CI and make the error-loading e2e test real
  .github/workflows/ci.yml
  test/e2e/framework-comparison.test.ts
  test/e2e/utils/test-helpers.ts
Due: format

fix(app): normalize framework URL/storage tokens to canonical ids
  src/Index.svelte
Due: format

docs: design spec for SvelteKit + SSG migration
  docs/superpowers/specs/2026-06-21-sveltekit-ssg-migration-design.md
Due: format

docs: implementation plan for SvelteKit + SSG migration
  docs/superpowers/plans/2026-06-21-sveltekit-ssg-migration.md
Due: format

feat(kit): bootstrap SvelteKit on Vite+ with adapter-static
  .gitignore
  package.json
  pnpm-lock.yaml
  public/sitemap.xml
  src/app.html
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  static/banner2.png
  static/favicon.png
  static/font/Mona-Sans.woff2
  static/framework/alpine.svg
  static/framework/angular-renaissance.svg
  static/framework/angular.svg
  static/framework/aurelia.svg
  static/framework/ember.svg
  static/framework/lit.svg
  static/framework/marko.svg
  static/framework/mithril.svg
  static/framework/qwik.svg
  static/framework/react.svg
  static/framework/ripple.svg
  static/framework/solid.svg
  static/framework/svelte.svg
  static/framework/vue.svg
  static/manifest.json
  static/popper.svg
  static/robots.txt
  svelte.config.js
  svelte.config.ts
  test/e2e/utils/test-helpers.ts
  tsconfig.json
  vite.config.ts
Due: format

fix(kit): restore tsconfig strictness flags lost in bootstrap
  tsconfig.json
Due: none

feat(kit): app shell — layout, Header, Footer, frameworkUrl helpers
  scripts/generateSitemap.ts
  src/Index.svelte
  src/lib/components/Footer.svelte
  src/lib/components/GithubStarButton.svelte
  src/lib/components/Header.svelte
  src/lib/constants.ts
  src/lib/footerNavigation.ts
  src/lib/frameworkUrl.test.ts
  src/lib/frameworkUrl.ts
  src/lib/seo.ts
  src/routes/+layout.svelte
Due: format

test(kit): cover createSearchParamUrl/BASE_URL; fix Footer landmark a11y
  src/lib/components/Footer.svelte
  src/lib/frameworkUrl.test.ts
Due: format

feat(kit): extract Comparison component, home route at parity
  src/App.svelte
  src/lib/components/Aside.svelte
  src/lib/components/CodeEditor.svelte
  src/lib/components/Comparison.svelte
  src/lib/components/FrameworkLabel.svelte
  src/lib/components/TransitionWithClass.svelte
  src/lib/types.ts
  src/main.ts
  src/router.ts
  src/routes/+page.ts
Due: format

fix(kit): gate localStorage and GithubStarButton fetch behind browser check
  src/lib/components/GithubStarButton.svelte
  src/lib/createLocaleStorage.ts
  src/routes/+page.svelte
  svelte.config.js
Due: format

fix(kit): run Comparison client-init once on mount, drop dead init state
  src/lib/components/Comparison.svelte
Due: format

feat(kit): prerendered /compare/[comparison] pages with canonical meta
  src/lib/comparisonPairs.test.ts
  src/lib/comparisonPairs.ts
  src/routes/compare/[comparison]/+page.svelte
  src/routes/compare/[comparison]/+page.ts
Due: format

feat(kit): sitemap endpoint, inverse-pair redirects via Vite plugin, global OG/Twitter meta, remove SPA shell
  build/generateRedirectsVitePlugin.ts
  build/lib/generateContent.ts
  build/template/footer.html
  index.html
  package.json
  pnpm-lock.yaml
  scripts/generateSitemap.ts
  src/app.html
  src/routes/sitemap.xml/+server.ts
  vite.config.ts
Due: format

fix(kit): harden _redirects plugin (single write, resolved outDir); drop unused vite-plugin-html
  build/generateRedirectsVitePlugin.ts
  package.json
  pnpm-lock.yaml
Due: format

fix(kit): use $generated/$lib aliases for moved component imports
  src/lib/components/Aside.svelte
  src/lib/components/CodeEditor.svelte
Due: format
