Repository matschik/component-party.dev: changes, and which lefthook commands are due for each by the changed paths.
All: format, update-readme-progress

format:
  run: pnpm _format --write {staged_files}
  stage_fixed: true

update-readme-progress:
  run: node scripts/generateReadMeProgress.ts && git add README.md
  fail_text: Failed to update README progress

test(kit): route-based e2e + prerender proof for C1
  playwright.config.ts
  src/lib/components/Comparison.svelte
  test/e2e/framework-comparison.test.ts
  test/e2e/home.test.ts
  test/e2e/integration.test.ts
  test/e2e/utils/test-helpers.ts
  test/prerender.test.ts
  vite.config.ts
Due: format

chore(kit): de-duplicate og:type meta; drop stale public/_redirects gitignore
  .gitignore
  src/routes/compare/[comparison]/+page.svelte
Due: format

fix: serve framework logos from site assets, not GitHub raw public/
  CONTRIBUTING.md
  README.md
  scripts/generateReadMeProgress.ts
  src/lib/components/FrameworkLabel.svelte
Due: format

docs: design spec for per-comparison OG images + per-page JSON-LD
  docs/superpowers/specs/2026-06-21-og-images-jsonld-design.md
Due: format

docs: implementation plan for OG images + per-page JSON-LD
  docs/superpowers/plans/2026-06-21-og-images-jsonld.md
Due: format

build(og): add satori/resvg deps, build-only font, build-date global
  build/og/fonts/Mona-Sans-Bold.ttf
  build/og/fonts/Mona-Sans-Regular.ttf
  build/og/fonts/README.md
  package.json
  pnpm-lock.yaml
  src/lib/buildDate.ts
  src/lib/seo.ts
  src/vite-env.d.ts
  vite.config.ts
Due: format

feat(og): comparison card renderer (satori + resvg)
  build/og/renderOgImage.test.ts
  build/og/renderOgImage.ts
  vite.config.ts
Due: format

refactor(og): add alt to satori img nodes, cache popper data-uri
  build/og/renderOgImage.ts
Due: format

feat(og): prerendered /og/[comparison].png endpoint; wire og:image
  build/og/renderOgImage.ts
  src/routes/compare/[comparison]/+page.svelte
  src/routes/og/[comparison].png/+server.ts
Due: format

feat(seo): per-page JSON-LD — WebApplication (home), TechArticle (compare)
  src/lib/seo.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/compare/[comparison]/+page.svelte
Due: format

test(og): integration tests for OG images + per-page JSON-LD
  test/og-jsonld.test.ts
Due: format

fix(og): one og:image per page (per-comparison card on compare, banner on home)
  src/app.html
  src/routes/+page.svelte
  src/routes/compare/[comparison]/+page.svelte
  test/og-jsonld.test.ts
Due: format

chore(og): allowlist @resvg/resvg-js in onlyBuiltDependencies for CI
  package.json
Due: none

fix(og): preserve logo aspect ratio + semibold (600) Component Party footer
  build/og/fonts/Mona-Sans-SemiBold.ttf
  build/og/fonts/README.md
  build/og/renderOgImage.ts
Due: format

feat(og): use VS brushstroke graphic between framework logos
  build/og/renderOgImage.ts
  build/og/vs.png
Due: format

feat: custom 404 page (+error.svelte) with popular comparison links
  src/routes/+error.svelte
  svelte.config.js
Due: format

chore: gitignore .superpowers scratch dir
  .gitignore
Due: none

style(og): scale down the VS graphic (150->110px) for better balance
  build/og/renderOgImage.ts
Due: format

perf: content-visibility on snippets + stable min-heights (M6/M7)
  src/lib/components/CodeEditor.svelte
  src/lib/components/Comparison.svelte
Due: format

refactor(frameworks): split framework families from versions
  build/generateRedirectsVitePlugin.ts
  build/lib/generateContent.ts
  frameworks.ts
  scripts/generateReadMeProgress.ts
  scripts/npmDownloadStats.ts
  src/lib/comparisonPairs.test.ts
  src/lib/comparisonPairs.ts
  src/lib/components/Comparison.svelte
  src/lib/components/FrameworkLabel.svelte
Due: format

fix(frameworks): give legacy Angular a distinct id to fix prerender
  content/1-reactivity/1-declare-state/angularClassic/name.component.ts
  content/1-reactivity/2-update-state/angularClassic/name.component.ts
  content/1-reactivity/3-computed-state/angularClassic/doublecount.component.ts
  content/2-templating/1-minimal-template/angularClassic/helloworld.component.ts
  content/2-templating/2-styling/angularClassic/cssstyle.component.ts
  content/2-templating/3-loop/angularClassic/colors.component.ts
  content/2-templating/4-event-click/angularClassic/counter.component.ts
  content/2-templating/5-dom-ref/angularClassic/inputfocused.component.ts
  content/2-templating/6-conditional/angularClassic/trafficlight.component.ts
  content/3-lifecycle/1-on-mount/angularClassic/pagetitle.component.ts
  content/3-lifecycle/2-on-unmount/angularClassic/time.component.ts
  content/4-component-composition/1-props/angularClassic/app.component.ts
  content/4-component-composition/1-props/angularClassic/userprofile.component.ts
  content/4-component-composition/2-emit-to-parent/angularClassic/answer-button.component.ts
  content/4-component-composition/2-emit-to-parent/angularClassic/app.component.ts
  content/4-component-composition/3-slot/angularClassic/app.component.ts
  content/4-component-composition/3-slot/angularClassic/funny-button.component.ts
  content/4-component-composition/4-slot-fallback/angularClassic/app.component.ts
  content/4-component-composition/4-slot-fallback/angularClassic/funny-button.component.ts
  content/4-component-composition/5-context/angularClassic/app.component.ts
  content/4-component-composition/5-context/angularClassic/user-profile.component.ts
  content/4-component-composition/5-context/angularClassic/user.service.ts
  content/6-form-input/1-input-text/angularClassic/input-hello.component.ts
  content/6-form-input/2-checkbox/angularClassic/is-available.component.ts
  content/6-form-input/3-radio/angularClassic/pick-pill.component.ts
  content/6-form-input/4-select/angularClassic/color-select.component.ts
  content/7-webapp-features/1-render-app/angularClassic/app.component.ts
  content/7-webapp-features/1-render-app/angularClassic/app.module.ts
  content/7-webapp-features/1-render-app/angularClassic/index.html
  content/7-webapp-features/1-render-app/angularClassic/main.ts
  content/7-webapp-features/2-fetch-data/angularClassic/user.service.ts
  content/7-webapp-features/2-fetch-data/angularClassic/users.component.ts
  frameworks.ts
  test/e2e/framework-comparison.test.ts
Due: format, update-readme-progress

feat(og): auto-fit title typography + dev preview gallery
  build/og/renderOgImage.ts
  src/routes/og/gallery/+page.svelte
  src/routes/og/gallery/+page.ts
Due: format

perf: precompute snippet heights from line counts
  build/lib/generateContent.ts
  src/lib/components/CodeEditor.svelte
  src/lib/components/Comparison.svelte
  src/lib/types.ts
Due: format

fix(aside): highlight first snippet when scrolled to top
  src/lib/components/Aside.svelte
Due: format

feat(alpine): add context Alpine.store() example (#316)
  README.md
  content/4-component-composition/5-context/alpine/index.html
Due: format, update-readme-progress

fix(seo): redirect legacy comparison URLs to canonical pages
  build/generateRedirectsVitePlugin.ts
  build/redirects.test.ts
  build/redirects.ts
Due: format

feat: add No.JS framework
  README.md
  build/lib/playgroundUrlByFramework.ts
  content/1-reactivity/1-declare-state/nojs/index.html
  content/1-reactivity/2-update-state/nojs/index.html
  content/1-reactivity/3-computed-state/nojs/index.html
  content/2-templating/1-minimal-template/nojs/index.html
  content/2-templating/2-styling/nojs/index.html
  content/2-templating/3-loop/nojs/index.html
  content/2-templating/4-event-click/nojs/index.html
  content/2-templating/5-dom-ref/nojs/index.html
  content/2-templating/6-conditional/nojs/index.html
  content/3-lifecycle/1-on-mount/nojs/index.html
  content/3-lifecycle/2-on-unmount/nojs/index.html
  content/4-component-composition/1-props/nojs/index.html
  content/4-component-composition/2-emit-to-parent/nojs/index.html
  content/4-component-composition/3-slot/nojs/index.html
  content/4-component-composition/4-slot-fallback/nojs/index.html
  content/4-component-composition/5-context/nojs/index.html
  content/6-form-input/1-input-text/nojs/index.html
  content/6-form-input/2-checkbox/nojs/index.html
  content/6-form-input/3-radio/nojs/index.html
  content/6-form-input/4-select/nojs/index.html
  content/7-webapp-features/1-render-app/nojs/index.html
  content/7-webapp-features/2-fetch-data/nojs/index.html
  frameworks.ts
  static/framework/nojs.svg
Due: format, update-readme-progress

Improve snippet copy feedback
  .gitattributes
  .gitignore
  .sdf/agent-instructions.md
  .sdf/config.yml
  .sdf/contracts/evidence-archive.md
  .sdf/contracts/verification-config.md
  .sdf/evidence/copy-snippet-feedback/evaluator-observations.md
  .sdf/evidence/copy-snippet-feedback/evidence.md
  .sdf/playbooks/governed-change-loop.md
  .sdf/standard-sdf-non-claims.md
  .sdf/verification.yml
  AGENTS.md
  CLAUDE.md
  src/lib/components/CodeEditor.svelte
  test/e2e/copy-code.test.ts
Due: format

chore(deps): upgrade minor and patch dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade vite-plus to 1.0 and vitest to 5
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: format

chore(deps): upgrade markdown-it to 15
  build/lib/highlighter.ts
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): upgrade satori to 0.33
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade pnpm to 12
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/setup-node-pnpm.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: upgrade GitHub Actions to latest major versions
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
  .github/workflows/setup-node-pnpm.yml
Due: none

style(readme): regenerate progress without trailing whitespace
  README.md
Due: format

chore: remove reference to missing check-package-manager script
  package.json
Due: none

ci(renovate): pin github-action to an existing release tag
  .github/workflows/renovate.yml
Due: none

chore(deps): add knip and remove the unused dependencies it found
  .github/workflows/ci.yml
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

ci(renovate): move to the Renovate GitHub app and group updates
  .github/workflows/renovate.yml
  renovate.json
Due: none

ci: check content scripts, README sync, vp config and dev server
  .github/workflows/ci.yml
  package.json
  scripts/check-toolchain.sh
Due: none

Path conditions:
  format: any of: *.{js,ts,svelte,html,md,css}
  update-readme-progress: any of: content/**/*
